.heading3Text{
    font-weight: 800;
text-transform: capitalize;

background: linear-gradient(109.57deg, #2E73EA 2.68%, #22DDD2 96.16%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
margin-bottom: 5px;
}

.heading6Text{
    font-weight: 600;
text-transform: capitalize;

background: linear-gradient(109.57deg, #2E73EA 2.68%, #22DDD2 96.16%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
margin-bottom: 1px;
}

.contentText{
    font-weight: 400;
}